%div{ :id => "key_#{key.id}", :class => "tr_key" }
  .key_value
    - if key.find_translation_by_locale(session[:main_language_id].to_i)
      = key.find_translation_by_locale(session[:main_language_id].to_i).value
    - else
      = "<em>no translation in main language</em>"
  .key_name= "(key: #{key.name})"
  .key_translate
    - if key.find_translation_by_locale(session[:locale].id)
      - form_remote_for key.find_translation_by_locale(session[:locale].id) do |f|
        = f.text_field :value, :value => key.find_translation_by_locale(session[:locale].id).value, :onchange => "$('save_#{key.id}').show();$('key_#{key.id}').addClassName('tr_orange')"
        = hidden_field_tag :namespace_id, namespace_id
        %span{ :id => "save_#{key.id}", :style => "display:none"}
          = f.submit "Save"
    - else
      - form_remote_for Translation.new do |f|
        = f.text_field :value, :onchange => "$('save_#{key.id}').show();$('key_#{key.id}').addClassName('tr_orange')"
        = f.hidden_field :locale_id, :value => session[:locale].id
        = f.hidden_field :key_id, :value => key.id
        = hidden_field_tag :namespace_id, namespace_id
        %span{ :id => "save_#{key.id}", :style => "display:none"}
          = f.submit "Save"
  .clear
.clear