<p>
  <b>Key:</b>
  <%=h @translation.key_id %>
</p>

<p>
  <b>Locale:</b>
  <%=h @translation.locale_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @translation.value %>
</p>


<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
