<h1>Editing user</h1>
# <% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p>
  <%= label_tag 'role', 'Change role' %><br/>
  <%= select( "user", "role", ROLES_LIST) %>
</p>

<p><%= submit_tag 'Save' %></p>
<% end -%>
