= link_to "Add a user", signup_path
%table{:class => 'users'}
  %tr
    %th= "Login"
    %th= "E-mail"
    %th= "Role"
    %th= "Locales"
    %th= "Add locales"
  
  - for user in @users do
    %tr
      %td= user.login
      %td= user.email
      %td= user.role
      
      %td
        - for locale in user.locales do
          = locale.name
          - traductor = Traductor.first :conditions => {:user_id => user.id, :locale_id => locale.id}
          = link_to 'remove', traductor, :confirm => 'Are you sure?', :method => :delete, :style => 'padding-left: 5px;'
          %br
      %td
        - form_for Traductor.new do |f|
          = f.hidden_field :user_id, :value => user.id
          = select( "traductor", "locale_id", Locale.find(:all).collect {|l| [ l.name, l.id ] })
          = f.submit "Add"