.namespace
  .namespace_name{ :onclick => "$('namespace_#{namespace.id}').toggle();"}
    %b= namespace.name
    %hr
  %div{ :id => "namespace_#{namespace.id}", :class => "namespace_children", :style => "display:none"}
    - for child in namespace.children do
      - if child.namespace
        = render :partial => "keys/namespace", :locals => { :namespace => child }
      - else
        = display_key(child)
        %br