.namespace
  .namespace_name{ :onclick => "$('namespace_#{sequence.id}').toggle();"}
    %b= "[#{sequence.name}]"
    %hr
  %div{ :id => "namespace_#{sequence.id}", :class => "namespace_children", :style => "display:none"}
    - for child in sequence.children do
      - if child.namespace
        = render :partial => "keys/namespace", :locals => { :namespace => child }
      -elsif child.sequence
        = render :partial => "keys/sequence", :locals => { :sequence => child}
      - else
        = display_key(child)
        %br