<p>
  <b>Name:</b>
  <%=h @key.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @key.parent_id %>
</p>

<p>
  <b>Namespace:</b>
  <%=h @key.namespace %>
</p>


<%= link_to 'Edit', edit_key_path(@key) %> |
<%= link_to 'Back', keys_path %>
