%h1 Statistics
%div{:style=>'font-weight:700; font-size: 14px; margin-bottom: 5px; margin-top: 10px;'} Translations status:
%table
  - @translations_status.each do |ts|
    %tr
      %td{:style => 'width: 120px'}
        %b= "#{ts[:locale_name]} (#{ts[:iso_code]}): "
      %td
        = "#{ts[:nbr_translated_key]} / #{ts[:nbr_all_key]}"

