#header
  #title
    #title_text= "Sikalator"
  #menu
    #menu_text
      #header_links
        - if is_translator?
          .header_link
            = link_to "Translations", translations_path
        - if is_admin?
          .header_link  
            = link_to "Locales", locales_path
          .header_link
            = link_to "Keys and namespaces", keys_path
          .header_link
            = link_to "Export", export_path
          .header_link
            = link_to "Users", users_path      
      - if logged_in?
        #logout
          = "Logged in as #{current_user.login} | "
          = link_to "Logout", logout_path
      - else
        #login
          = link_to "Login", login_path